main {
  min-height: 85vh;
}

.navbar {
  height: 10vh;
}

h1 {
  font-size: 3rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  text-align: center;
}

h3 {
  padding: 1rem 0;
}

strong {
  font-size: 1.4rem;
}
th,
td {
  text-align: center;
  vertical-align: middle;
}

/* hr {
  border: 10px solid SeaGreen;
  border-radius: 5px;
} */

.hr-line-right {
  height: 25px;
  border-radius: 10px;
  background: linear-gradient(to right, #099d47, #c8dacf);
  background-size: 200% 100%;
  animation: colorSlide 3s ease infinite alternate;
}

.hr-line-left {
  height: 25px;
  border-radius: 10px;
  background: linear-gradient(to left, #099d47, #c8dacf);
  background-size: 200% 100%;
  animation: colorSlide 3s ease infinite alternate;
}

@keyframes colorSlide {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.paid {
  text-align: center;
  font-size: large;
}

textarea {
  resize: none;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.radio-label {
  margin-right: 1rem;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radio-buttons label {
  margin-right: 1rem;
}

.radio-buttons input[type='radio'] {
  margin-right: 0.5rem;
}
